.hero {
  position: relative;
  width: 100%;
  min-height: 200svh;
  pointer-events: none;

  &__clock {
    position: absolute;
    top: 75svh;
    left: 0;
    width: 100%;
    height: 125svh;
  }
}
