@use '@/styles/variables' as _;
@use '@/styles/mixins';

.hero {
  display: flex;
  align-items: center;
  top: 0;
  flex-direction: column;
  height: 90svh;
  justify-content: center;
  left: 0;
  perspective: 2000px;
  position: relative;
  width: 100%;

  font-family: _.$font-sans;
  color: white;

  &__logo {
    width: 90vw;
    max-width: 800px;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include mixins.sm-breakpoint {
      width: 70vw;
    }
  }

  &__mlh {
    display: flex;
    align-items: center;
    gap: 0.6em;

    img {
      width: 3em;
      height: auto;
    }
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mixins.sm-breakpoint {
      flex-direction: row;
      justify-content: space-between;
    }

    &__meta {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
