.hero {
  position: relative;
  width: 100%;
  min-height: 200svh;
  pointer-events: none;

  &__container {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
}
