.hero {
  position: relative;
  width: 100%;
  height: 200vh;
  pointer-events: none;
  overflow: hidden;
  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}
