@use 'variables' as _;

@mixin xs-breakpoint {
  @media only screen and (max-width: _.$xsBreakpoint) {
    @content;
  }
}

@mixin sm-breakpoint {
  @media only screen and (min-width: _.$smBreakpoint) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (min-width: _.$mdBreakpoint) {
    @content;
  }
}

@mixin lg-breakpoint {
  @media only screen and (min-width: _.$lgBreakpoint) {
    @content;
  }
}

@mixin xl-breakpoint {
  @media only screen and (min-width: _.$xlBreakpoint) {
    @content;
  }
}
