@use 'fonts';

$fallback-fonts:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;

$font-serif: 'Instrument Serif', $fallback-fonts;
$font-sans: 'Instrument Sans', $fallback-fonts;

// colors

$clr-bg-base: #128684;
