@use 'preflight';
@use 'variables' as _;
@use 'mixins';

html,
body,
#root {
  height: 100%;
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  font-family: _.$font-serif;
  font-size: 18px;
}

#scene-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}

button {
  font-family: _.$font-sans;
  text-transform: uppercase;
}
