@use 'preflight';
@use 'variables' as _;
@use 'mixins';

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  font-family: _.$font-serif;
  font-size: 18px;
}

#scene-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}

button {
  font-family: _.$font-sans;
  text-transform: uppercase;
}
