@use '@/styles/variables' as _;
@use '@/styles/mixins' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 1rem;

  backdrop-filter: blur(10px);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);

  &--visible {
    transform: translateY(0);
  }

  @include sm-breakpoint {
    padding: 0 3rem;
    padding-bottom: 1.25rem;
    border-bottom: none;
    margin-right: 100px;
  }

  &__logo {
    position: relative;
    width: 2rem;
    /* top: 1rem; */
    /* display: none; */

    @include sm-breakpoint {
      width: 4rem;
      top: 1rem;
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 1rem;

    @include sm-breakpoint {
      gap: 2.5rem;
      justify-content: flex-end;
      padding: 1rem 2rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
  }

  &__link {
    font-family: _.$font-sans;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    @include sm-breakpoint {
      font-size: 1rem;
    }

    &__desktop {
      display: none;

      @include sm-breakpoint {
        display: block;
        font-size: 1rem;
        font-family: _.$font-sans;
        font-weight: 500;
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  /* &__register {
    font-family: _.$font-sans;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(_.$clr-button-light, 0.4);
    }

    @include sm-breakpoint {
      font-size: 1rem;
      padding: 0.625rem 1.5rem;
    }
  } */
}
