.about {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  height: 100svh;
  justify-content: center;
  position: relative;
  width: 100%;
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
    justify-content: center;
  }
  &__text {
    max-width: 1200px;
    text-align: center;
    font-size: 54px;
    color: white;
    text-transform: uppercase;
  }
}
