@use '@/styles/mixins';

.about {
  display: flex;
  align-items: center;
  padding: 2.5rem 1.25rem;
  height: 100svh;
  justify-content: center;
  position: relative;
  width: 100%;
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2.5rem 12rem;
    width: 100%;
    justify-content: center;
  }
  &__text {
    max-width: 1200px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 24px;

    @include mixins.sm-breakpoint {
      font-size: 54px;
    }
  }
}
