@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #282A2C;
}
  
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282A2C;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--foreground);
  line-height: 1.5;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--foreground);
  line-height: 1.5;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--foreground);
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  margin-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: var(--foreground);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.countdown-item-value {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--background);
}

.countdown-item-label {
  font-size: 0.75rem;
  color: var(--background);
  opacity: 0.5;
}

.countdown-item-separator {
  width: 0.125rem;
  height: 1.25rem;
  background-color: var(--background);
  border-radius: 9999px;
  opacity: 0.1;
}

@media (min-width: 640px) {
  .countdown-item-value {
    font-size: 2.25rem;
  }
  
  .countdown-item-label {
    font-size: 0.875rem;
  }
  
  .countdown-item-separator {
    height: 1.5rem;
  }
}

.prose>* {
  all: revert;
  color: var(--foreground);
}

.prose p {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}