@use '@/styles/variables' as _;
@use '@/styles/mixins' as *;

.world {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  pointer-events: none;
  overflow: hidden;

  &__mover {
    width: 100%;
    will-change: transform;
    background-color: _.$clr-bg-base;

    & > img {
      width: 100%;
      display: block;
      will-change: transform;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__cloudBg {
    height: 450svh;
  }
  &__spacer {
    background-color: #128684;
    height: 160svh;

    @include sm-breakpoint {
      height: 300svh;
    }
  }
}
