@use '@/styles/variables' as _;
@use '@/styles/mixins' as *;

.timeline {
  position: relative;
  width: 100%;
  min-height: 100svh;
  overflow: hidden;
}

.timeline__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @include md-breakpoint {
    flex-direction: row;
    gap: 1.25rem;
  }
}

.image {
  width: 100%;
  max-width: 680px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  flex: 1;
  &__B {
    width: 100%;
    max-width: 680px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    flex: 1;
    margin-top: 2rem;
  }
  &__C {
    width: 100%;
    max-width: 680px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    flex: 1;
  }
}

.copyContainer {
  &__A {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex: 1;

    @include md-breakpoint {
      padding-top: 24rem;
    }
  }

  &__B {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex: 1;
  }

  &__C {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex: 1;
    @include md-breakpoint {
      padding-top: 12rem;
    }
  }
}

.copy {
  color: white;
  font-size: 24px;
  line-height: 1.35;

  flex: 1;
  color: white;
  max-width: 50%;
  font-family: _.$font-sans;

  @include sm-breakpoint {
    font-size: 1.75rem;
  }
}

.copyFinal {
  color: white;
  font-size: 1.8rem;
  line-height: 1.35;
  text-align: center;
  width: 100%;

  @include md-breakpoint {
    font-size: 2.8rem;
  }
}

.stat {
  &__A {
    position: relative;
    text-align: right;
    left: 2.5rem;
    top: -1rem;
    color: white;
    font-size: 1.25rem;
    display: none;

    @include md-breakpoint {
      display: block;
    }
  }

  &__topB {
    position: relative;
    text-align: right;
    right: 4rem;
    top: 1rem;
    color: white;
    font-size: 1.25rem;
    display: none;

    @include md-breakpoint {
      display: block;
    }
  }

  &__bottomB {
    position: relative;
    text-align: left;
    left: -2rem;
    top: -1rem;
    color: white;
    font-size: 1.25rem;
    display: none;

    @include md-breakpoint {
      display: block;
    }
  }

  &__C {
    position: relative;
    text-align: right;
    bottom: 1rem;
    color: white;
    font-size: 1.25rem;
    display: none;

    @include md-breakpoint {
      display: block;
    }
  }
}
