@use '@/styles/variables' as _;

@keyframes button_sheen {
  100% {
    background-position: -150% 50%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.04em;
  padding: 12px 32px;
  background: linear-gradient(60deg, _.$clr-button-dark, _.$clr-button-light);
  transition: all 0.2s ease, box-shadow 0.5s ease;
  cursor: pointer;

  &:hover {
    box-shadow:
      0 0 2px rgba(_.$clr-button-light, 0.65),
      0 0 14px rgba(_.$clr-button-light, 0.4),
      0 0 33px rgba(_.$clr-button-light, 0.15),
      0 0 55px rgba(_.$clr-button-light, 0.15);

    &::after {
      animation: button_sheen 1s forwards;
    }
  }

  &::before {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 7px);
    height: calc(100% + 5px);
    background-image:
      url('@/assets/button-shape-left.svg'),
      url('@/assets/button-shape-right.svg');
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-image: linear-gradient(
      60deg,
      #00000000 30%,
      rgba(255, 255, 255, 0.5) 50%,
      #00000000 70%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: 150% 50%;
  }
}
